.DS_Store
.vscode/
papertlab.code-workspace
*.pyc
papertlab_chat.egg-info/*
build
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.flask_session/
papert_lab.egg-info
